<div
  class="mb-[20px] py-[10px] px-[7px] border border-2 border-black flex gap-[50px] justify-center items-center mx-[50px]">
  <span><span class="font-bold">ID:</span> {{item.id}}</span>
  <span><span class="font-bold">First Name:</span> {{item.firstName}}</span>
  <span><span class="font-bold">Last Name:</span> {{item.lastName}}</span>
  <span><span class="font-bold">Date:</span> {{item.date}}</span>
  <span><span class="font-bold">Email:</span> {{item.email}}</span>
  <span><span class="font-bold">Table Num.:</span> {{item.tableNumber}}</span>
  <span><span class="font-bold">Number of Seats:</span> {{item.tableNumOfSeats}}</span>
  <span><span class="font-bold">Table Location:</span> {{item.tableLocation}}</span>
  <button class="px-[8px] py-[3px] border-2 border-blue-400" (click)="openForm()">
    <div *ngIf="isOpen; else notOpen">Close Edit</div>
    <ng-template #notOpen>Edit</ng-template>
  </button>
  <button class="px-[8px] py-[3px] border-2 border-red-400">Delete</button>
</div>


<div *ngIf="isOpen">
  <div class="flex justify-center mb-[40px]">
    <div>
      <div class="flex gap-[30px]">
        <mat-form-field appearance="fill" class="w-[250px]">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-[250px]">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="flex gap-[30px]">
        <mat-form-field appearance="fill" class="w-[250px]">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="w-[535px]">
        <mat-label>Select Table</mat-label>
        <mat-select>
          <mat-option value="one">
            <div class="flex gap-[25px]"><span><span class="font-bold text-[14px]">Table n.:</span> 4</span>|<span><span
              class="font-bold text-[14px]">Num. of Seats</span>: 3</span>|<span><span class="font-bold text-[14px]">Location</span>: Window</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex justify-center">
        <button class="px-[8px] py-[3px] border-2 border-blue-400">Edit Reservation</button>
      </div>
    </div>
  </div>
</div>
