<div class="flex gap-[10px] items-center ml-[50px] my-[25px]">
  <h1 class="text-[32px] uppercase">
    Reservations
  </h1>
  <div class="w-full h-[2px] bg-black"></div>
</div>
<div *ngFor="let reservation of allReservations">
  <app-reservation [item]="reservation"></app-reservation>
</div>
<h3 class="text-[28px] text-center mb-[25px]">Create reservation</h3>
<div class="w-[560px] mx-auto mb-[80px]">
  <app-create-reservation-form [item]="{homePage:false}"></app-create-reservation-form>
</div>
<div class="flex gap-[10px] items-center ml-[50px] my-[25px]">
  <h1 class="text-[32px] uppercase w-[250px]">
    Lunch menu
  </h1>
  <div class="w-full h-[2px] bg-black"></div>
</div>
<div *ngFor="let dish of allDishes">
  <app-lunch-menu [item]="dish"></app-lunch-menu>
</div>
<div class="flex justify-center items-center mb-[100px]">
  <div>
    <h3 class="text-[28px] mb-[15px]">Create dish</h3>
    <div class="flex gap-[30px]">
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="dishPrice">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Select Day In Week</mat-label>
        <mat-select [(ngModel)]="dishWeekDay">
          <mat-option value="Monday">Monday</mat-option>
          <mat-option value="Tuesday">Tuesday</mat-option>
          <mat-option value="Wednesday">Wednesday</mat-option>
          <mat-option value="Thursday">Thursday</mat-option>
          <mat-option value="Friday">Friday</mat-option>
          <mat-option value="Saturday">Saturday</mat-option>
          <mat-option value="Sunday">Sunday</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field appearance="fill" class="w-[530px]">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="dishName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-[530px]">
        <mat-label>Select Ingredients</mat-label>
        <mat-select multiple [(ngModel)]="dishIngredients">
          <mat-option *ngFor="let ingredient of allIngredients" value="{{ingredient.id}}">{{ingredient.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field appearance="fill" class="w-[530px]">
        <mat-label>Description</mat-label>
        <textarea matInput rows="5" [(ngModel)]="dishDescription"></textarea>
      </mat-form-field>
      <button class="px-[8px] py-[3px] border-2 border-green-400" (click)="createDish()">Create dish</button>
      <div class="flex justify-center">
        <div *ngIf="messageCreateDish !== undefined">
          {{messageCreateDish}}
        </div>
      </div>
    </div>
  </div>
  <div class="w-[200px] h-[2px] rotate-90 bg-gray-300"></div>
  <div class="self-start">
    <h3 class="text-[28px] mb-[15px]">Create ingredient</h3>
    <div class="flex flex-col">
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Ingredient</mat-label>
        <input matInput [(ngModel)]="ingredientName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="ingredientAmount">
      </mat-form-field>
      <button class="px-[8px] py-[3px] border-2 border-green-400" (click)="createIngredient()">Create ingredient</button>
      <div class="flex justify-center">
        <div *ngIf="messageCreateIngredient !== undefined">
          {{messageCreateIngredient}}
        </div>
      </div>
    </div>
  </div>
</div>

