<div class="flex gap-[10px] items-center ml-[50px] my-[25px]">
  <h1 class="text-[32px] uppercase">
    Reservations
  </h1>
  <div class="w-full h-[2px] bg-black"></div>
</div>
<div *ngFor="let reservation of reservations">
  <app-reservation [item]="reservation"></app-reservation>
</div>
<h3 class="text-[28px] text-center mb-[25px]">Create reservation</h3>
<div class="w-[560px] mx-auto mb-[80px]">
  <div class="flex gap-[30px]">
    <mat-form-field appearance="fill" class="w-[250px]">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-[250px]">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="flex gap-[30px]">
    <mat-form-field appearance="fill" class="w-[250px]">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill" class="w-[535px]">
    <mat-label>Select Table</mat-label>
    <mat-select>
      <mat-option value="one">
        <div class="flex gap-[25px]"><span><span class="font-bold text-[14px]">Table n.:</span> 4</span>|<span><span
          class="font-bold text-[14px]">Num. of Seats</span>: 3</span>|<span><span class="font-bold text-[14px]">Location</span>: Window</span>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flex justify-center">
    <button class="px-[8px] py-[3px] border-2 border-green-400">Create reservation</button>
  </div>
</div>



<div class="flex gap-[10px] items-center ml-[50px] my-[25px]">
  <h1 class="text-[32px] uppercase w-[250px]">
    Lunch menu
  </h1>
  <div class="w-full h-[2px] bg-black"></div>
</div>
<div *ngFor="let lunchMenu of lunchMenus">
  <app-lunch-menu [item]="lunchMenu"></app-lunch-menu>
</div>
<div class="flex justify-center items-center mb-[100px]">
  <div>
    <h3 class="text-[28px] mb-[15px]">Create dish</h3>
    <div class="flex gap-[30px]">
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Price</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Select Day In Week</mat-label>
        <mat-select>
          <mat-option value="Monday">Monday</mat-option>
          <mat-option value="Tuesday">Tuesday</mat-option>
          <mat-option value="Wednesday">Wednesday</mat-option>
          <mat-option value="Thursday">Thursday</mat-option>
          <mat-option value="Friday">Friday</mat-option>
          <mat-option value="Saturday">Saturday</mat-option>
          <mat-option value="Sunday">Sunday</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="w-[530px]">
      <mat-label>Select Ingredients</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex flex-col">
      <mat-form-field appearance="fill" class="w-[530px]">
        <mat-label>Description</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
      <button class="px-[8px] py-[3px] border-2 border-green-400">Create dish</button>
    </div>
  </div>
  <div class="w-[200px] h-[2px] rotate-90 bg-gray-300"></div>
  <div class="self-start">
    <h3 class="text-[28px] mb-[15px]">Create ingredient</h3>
    <div class="flex flex-col">
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Ingredient</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-[250px]">
        <mat-label>Amount (grams)</mat-label>
        <input matInput>
      </mat-form-field>
      <button class="px-[8px] py-[3px] border-2 border-green-400">Create ingredient</button>
    </div>
  </div>
</div>

