<div class="bg-orange-100 w-[300px] rounded-2xl overflow-hidden">
  <img class="h-[200px] mb-[20px]" src="{{item.imgPath}}" alt="food image">
  <div class="pl-[30px]">
    <span class="text-white font-bold text-[12px] bg-green-500 rounded-[33px] p-[5px] px-[10px] mb-[15px] inline-block">{{item.span}}</span>
    <h4 class="mb-[15px] text-[24px] font-bold">{{item.heading}}</h4>
    <div class="flex flex-col gap-[12px] text-[18px] pb-[15px]">
      <span>{{item.bullet1}}</span>
      <span>{{item.bullet2}}</span>
      <span>{{item.bullet3}}</span>
    </div>
  </div>
</div>
